<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <input type="text" [(ngModel)]="filetredStatus">
      <br>
      <h2>App status : {{appStatus | async}}</h2>
      <br>
      <button class="btn btn-primary" (click)="addServer()">Add Server</button>
      <hr>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers | filter:filetredStatus:'status' | sortArray" 
          [ngClass]="getStatusClasses(server)">
          <span
            class="badge">
            {{ server.status }}
          </span>
          <strong>{{ server.name | shorten:15:' ...'}}</strong> |
            {{ server.instanceType | uppercase | reverseString}} | 
            {{ server.started | date:'fullDate' | uppercase }}
        </li>
      </ul>
    </div>
  </div>
</div>
